<%- include header %>

<div class="container">

	<p>
		Welcome to Strava to Kilometrikisa sync!
	</p>

	<a class="btn btn-primary" href="strava/auth">Let's get started!</a>

</div>

<%- include footer %>
