<%- include header %>

<div class="container">

	<p>
		Welcome to Strava to Kilometrikisa sync!
	</p>

	<a class="btn" href="strava/auth">Let's get started!</a>

	<!-- <pre><code>< %= JSON.stringify(data, null, 2) % ></code></pre> -->

</div>

<%- include footer %>
