<%- include header %>

<div class="overlay-image"></div>
<div class="overlay"></div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="sub">Kilometrikisa login</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-offset-3">

            <div class="container-box">

                <% if (error) { %>
                    <div class="alert alert-danger" role="alert">
                        Incorrect username or password.
                    </div>
                <% } %>
                <form action="/kilometrikisa/authhandler">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="input" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>



            </div>

        </div>
    </div>
</div>


<%- include footer %>
