<%- include header %>

<div class="container">

    <h1>strava2kilometrikisa</h1>

    <h2>Option 1: Automatic sync</h1>

    <% if (autosync) { %>
        <p>
            Your activities are synchronized automatically from Strava to Kilometrikisa. Automatic update happens daily at 4am. Warning! Sync will overwrite all kilometers you have manually added to Kilometrikisa! If you need to add manual entries, do that on Strava.
        </p>
        <a class="btn btn-success" href="/disableautosync">Disable automatic sync</a>
    <% } else { %>
        <p>
            Automatic sync copies your activities from Stava to Kilometetrikisa once in a day. Warning! Sync will overwrite all kilometers you have manually added to Kilometrikisa! If you need to add manual entries, do that on Strava.
        </p>
        <a class="btn btn-success" href="/enableautosync">Enable automatic sync</a>
    <% } %>

    <h2>Option 2: Manual sync</h1>

	<p>sdada</p>
    <a class="btn btn-success" href="/dosync">Manual sync</a>


</div>

<%- include footer %>
