.jumbo {
	position:relative;
	min-height: 300px;
	overflow:hidden;
	color:#fff;
	background: $color-almost-black;

	&__overlay {
		@include full-cover();
		@include overlay($brand-color, 0.6, 3);
	}

	&__content {
		width:100%;
		z-index:4;
		position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    transform: translateY(-50%);
	}

	&--cover {
		@include full-cover();
	}

	&--full-screen {
		height:100vh;
	}
}