.jumbo {

	position:relative;
	min-height: 300px;
	overflow:hidden;
	color:#fff;

	&__background {
		@include bgimg();
    	@include full-cover();
		z-index:1;
	}

	&__bg-video {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 2;

		display: none;

		@include media-breakpoint-up(sm) {
			display: block;
		}
	}

	&__overlay {
		@include full-cover();
		@include overlay($brand-color, 0.6, 3);
	}

	&__content {
		//@include align(vertical);
		//@include padding(base, all);
		width:100%;
		z-index:4;
		position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    transform: translateY(-50%);
	    text-align: center;
	}

	&--cover {
		@include full-cover();
	}
}