<%- include header %>

<section>
	<div class="jumbo">

		<div class="background-image" style=" background-image:url(http://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

		<div class="jumbo__overlay"></div>

		<div class="jumbo__content text-xs-center">
			<h1 class="headline">FAQs</h1>
			<p>Frequently Asked Questions</p>
		</div>

	</div><!-- end of jumbo -->
</section>

<section class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-xs-12 col-md-8 col-md-offset-2">
	        
	        <div class="faq">
	        	<h3 class="faq__heading">How does this awesome app work?</h3>
	        	<div class="faq__answer">
	        		<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	        <div class="faq">
	        	<h3 class="faq__heading">What do i need to do?</h3>
	        	<div class="faq__answer">
	        		<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	        <div class="faq">
	        	<h3 class="faq__heading">Having some issues?</h3>
	        	<div class="faq__answer">
	        		<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	    </div>
	  </div>
	</div>
</section>

<%- include footer %>