<%- include header %>

<section>
	<div class="jumbo">

		<div class="background-image" style=" background-image:url(https://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

		<div class="jumbo__overlay"></div>

		<div class="jumbo__content text-xs-center">
			<h1 class="headline">FAQs</h1>
			<p>Frequently Asked Questions</p>
		</div>

	</div><!-- end of jumbo -->
</section>

<section class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-xs-12 col-md-8 col-md-offset-2">

                <div class="faq">
                        <h3 class="faq__heading">What's new in 2018?</h3>
                        <div class="faq__answer">
                                <p>There was again a bunch of sync issues when Kilometrikisa started. Everything should be working now but everyone needs to login and enable sync again. Due performance reasons <b>sync is done only once in a day</b> at 4 am. We have also set up SSL to keep your data private.</p>
                        </div>
                        <p><a href="#"><small>Back to top</small></a></p>
                </div>

	        <div class="faq">
	        	<h3 class="faq__heading">How does this awesome app work?</h3>
	        	<div class="faq__answer">
	        		<p>This wonderful app automagically syncs your Strava cycle activities to kilometrikisa.fi, which means less time inputting boring KMs and more time out with your bike!</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	        <div class="faq">
	        	<h3 class="faq__heading">How often does this app sync?</h3>
	        	<div class="faq__answer">
	        		<p>Once an day.</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

            <div class="faq">
	        	<h3 class="faq__heading">What does this app sync?</h3>
	        	<div class="faq__answer">
	        		<p>All of your cycling activities from last five days. It overwrites all your entries on Kilometrikisa.</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	        <div class="faq">
	        	<h3 class="faq__heading">What do I need to do?</h3>
	        	<div class="faq__answer">
	        		<p>Simply follow the instructions from the <a href="/">home page</a> to get started, will take less than 1 minute!. All you have to do is authorize our Strava app, enter your kilometrikisa.fi details and let the app do the rest.</p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	        <div class="faq">
	        	<h3 class="faq__heading">Having some issues?</h3>
	        	<div class="faq__answer">
	        		<p>If you experience any issues, or have any cool ideas for this project, send us a direct message on Twitter <a href="http://twitter.com/onefastsnail" target="_blank">@onefastsnail</a> and <a href="http://twitter.com/kampiapina" target="_blank">@kampiapina</a></p>
	        	</div>
	        	<p><a href="#"><small>Back to top</small></a></p>
	        </div>

	    </div>
	  </div>
	</div>
</section>

<%- include footer %>
