<footer>
   <div class="container">

   	<div class="row">
		<div class="col-xs-12">

			<nav class="nav nav-inline">
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="/logout">Logout</a>
			    <a class="nav-link" href="/faq">FAQ</a>
			</nav>

			Created by <a href="https://twitter.com/onefastsnail" target="_blank">@onefastsnail</a> and <a href="https://twitter.com/kampiapina" target="_blank">@kampiapina</a>. Sponsored by <a href="https://www.evermade.fi" target="_blank">Evermade</a>
		</div>
	</div>

   </div>

</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script> -->
    <script src="/js/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77126389-1', 'auto');
      ga('send', 'pageview');

    </script>


  </body>
</html>
