<%- include header %>

<div class="overlay-image"></div>
<div class="overlay"></div>

<div class="hero">
    <h1 class="hero__title" data-animate="animated fadeIn animateddelay3">Strava to Kilometrikisa</h1>
    <p class="hero__intro" data-animate="animated fadeIn animateddelay4">
        Synchronize your activities automatically from Strava to Kilometrikisa with one button click!
    </p>
    <a class="" href="<%= url %>">
        <img src="/img/LogInWithStrava@2x.png" data-animate="animated bounceIn animateddelay9"/>
    </a>
    <p class="hero__smallprint" data-animate="animated fadeIn animateddelay7">
        Wait what?! <a href="/faq">How does this work?</a>
    </p>
</div>

<%- include footer %>
