<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(http://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">
            <h1 class="headline">Failed to connect with Kilometrikisa!</h1>
            <a href="/kilometrikisa/auth" class="btn btn-primary">Try again</a>
        </div>

    </div><!-- end of jumbo -->
</section>

<%- include footer %>
