<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(/img/bikes.jpeg);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">
            <h1 class="headline">Failed to connect with Strava!</h1>
            <a href="/" class="btn btn-primary">Try again</a>
        </div>

    </div><!-- end of jumbo -->
</section>

<%- include footer %>
