<%- include header %>

<section>
	<div class="jumbo jumbo--full-screen">

		<div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(http://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

		<div class="jumbo__overlay"></div>

		<div class="jumbo__content">
			<h1 class="headline margin-bottom--md">Kilometrikisa login</h1>

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3">

						<div class="container-box">

							<div class="alert alert-danger" role="alert">
								Something went wrong while authenticating with Strava.
							</div>

							<a href="/">Try again</a>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div><!-- end of jumbo -->
</section>


<%- include footer %>