<%- include header %>

<section>
    <div class="jumbo" style="height: 600px;">

        <div class="background-image" style=" background-image:url(http://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">
            <h1>Styleguide</h1>
            <p>Basic and a work in progress</p>
        </div>

    </div><!-- end of jumbo -->
</section>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        
        <h1>Heading 1</h1>

        <p><strong>Paragraph of strong text, or lead paragraph. Lorem ipsum dolor sit amet, <a href="#">and here's a link within the text</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong></p>
        <p>Lorem ipsum dolor sit amet, <em>emphasized consectetur adipiscing elit</em>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <h2>Heading 2</h2>

        <p>Lorem ipsum dolor sit amet, <a href="#">here's a link within the text</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <h3>Heading 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <h4>Heading 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <h5>Heading 5</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <h6>Heading 6</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <h3><a href="#">Heading with a link</a></h3>

        <p>
            <a href="#" class="btn btn-primary">Button one</a>
            <a href="#" class="btn btn-primary">Button two</a>
            <a href="#" class="btn btn-primary">Button three</a>
        </p>

        <p>
            <a href="#" class="btn btn-primary">Single-button paragraph</a>
        </p>

        <p>
            <a href="#" class="btn btn-primary">Another one</a>
        </p>

        <ul>
            <li>Unordered list <a href="#">item with link</a></li>
            <li>Unordered list item</li>
            <li>Unordered list item</li>
        </ul>

        <ol>
            <li>Ordered list <a href="#">item with link</a></li>
            <li>Ordered list item</li>
            <li>Ordered list item</li>
            <li>Ordered list item</li>
            <li>Ordered list item</li>
        </ol>

        <dl>
            <dt>Definition list topic <a href="#">with a link</a></dt>
                <dd>Definition list definition</dd>
            <dt>DL another item</dt>
                <dd>DL another item's definition</dd>
            <dt>DL one more item</dt>
                <dd>DL one more item's definition</dd>
        </dl>

    </div>
  </div>
</div>

<%- include footer %>
