<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(https://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">

            <div class="container">

                <h1 class="headline margin-bottom--md">Manual synchronization</h1>

                <div class="row">
                    <div class="col-xs-6 col-sm-offset-3">

                        <div class="container-box text-xs-center">

                            <% if (success) { %>

                                <p>
                                    Your activities are now synced. Log in to <a href="http://www.kilometrikisa.fi" target="_blank">Kilometrikisa</a> to see if we did it correctly.
                                </p>

                                <a type="button" href="/account" class="btn btn-primary">Ok</a>


                            <% } else { %>

                                <p>
                                    Ooop! Sync failed! This most probably happened because of your Kilometrikisa session is timed out. <a href="/">Please connect again</a>.
                                </p>

                                <a type="button" href="/" class="btn btn-primary">Connect again</a>

                            <% } %>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div><!-- end of jumbo -->
</section>


<%- include footer %>
