html {
    font-size: 13px;

     /* Small Devices, Tablets */
    @include media-breakpoint-up(sm) {
      font-size: 13px;
    }

    /* Medium Devices, Desktops */
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    /* Large Devices, Wide Screens */
    @include media-breakpoint-up(lg){
      font-size: 16px;
    }
}

html,
button,
input,
select,
textarea {
    color: $text-color;
    font-family: inherit;
    line-height: inherit;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $text-color;
  font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a{
  cursor:pointer;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
