.activity-table {
    width: 60%;
    display: block;
    margin: 1rem auto;
    text-align: left;
    overflow: hidden;
    &__date {
        margin: 0;
        padding: 0;
        width: 60%;
        float: left;
    }
    &__distance {
        margin: 0;
        padding: 0;
        width: 40%;
        float: left;
    }
}
