.jumbo {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  color: #fff;
  background: $color-almost-black;

  &__link {
    color: #fff;
    text-decoration: underline;
  }
  &__link:hover {
    color: #fff;
    text-decoration: none;
  }

  &__overlay {
    @include full-cover();
    @include overlay($brand-color, 0.6, 3);
  }

  &__content {
    width: 100%;
    z-index: 4;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    .login-button {
      background: url(/img/LogInWithStrava@2x.png) center no-repeat;
      background-size: contain;
      padding: 4em 8em;
      display: inline-block;
      text-indent: -9999px;
    }
  }

  &--cover {
    @include full-cover();
  }

  &--full-screen {
    height: 100vh;

    > .background-image {
      background: url(/img/bikes.jpeg);
    }
  }
}
