// Variables
$color-strava-red: #ea4100;
$color-almost-black: rgb(20, 20, 20);
$color-grey: rgb(60, 60, 60);
$color-superlight-grey: rgb(200, 200, 200);
$color-light-grey: rgb(120, 120, 120);
$color-almost-white: rgb(220, 220, 220);
$color-black-transparent: rgba(20, 20, 20, 0.8);
$brand-color: $color-almost-black;

$text-color: $color-almost-black;

$font-family-heading: 'Exo 2', sans-serif;
$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 400;
$line-height-base: 1.628571429;

/**
 * Spacing variables. Currently misnamed as "padding" variables, but these vars
 * are used in other spacing contexts too.
 */
// Spacings
$padding-xxl: 150px;
$padding-xl: 100px;
$padding-lg: 60px;
$padding-md: 40px;
$padding-sm: 30px;
$padding-xs: 20px;
$padding-xxs: 10px;
$padding: $padding-md; // Define base spacing
