<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Strava2kilometrikisa</title>
    <meta name="description" content="Strava2kilometrikisa">
    <meta name="author" content="Jaakko Alajoki and Paul Stewart">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/bundle.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100,700|Open+Sans" rel="stylesheet" type="text/css">

    <meta property="og:title" content="Strava to Kilometrikisa" />
    <meta property="og:description" content="Synchronize your activities automatically from Strava to Kilometrikisa." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://strava2kilometrikisa.com/" />
    <meta property="og:image" content="https://source.unsplash.com/SJWPKMb9u-k/800x600" />

    <link rel="shortcut icon" href="/img/favicon.ico">

  </head>
  <body>
