<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stava2kilometrikisa</title>
    <meta name="description" content="Game of SKATE">
    <meta name="author" content="Paul Stewart">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100,700|Open+Sans" rel="stylesheet" type="text/css">

  </head>
  <body>

      <!-- <img src="/img/strava2kilometrikisa-logo.gif" class="logo" /> -->


      <!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">stava2kilometrikisa</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/kilometrikisa">Kilometrikisa Login</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/stats/2559253">Stats</a></li>
          </ul>
        </div>
      </div>
    </nav>
-->
