<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedslow" class="background-image"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content text-xs-center">
            <h1 class="headline">Strava to Kilometrikisa</h1>
            <p>Synchronize your activities automatically from <a href="http://strava.com/" target="_blank" rel="noopener">Strava</a> to <a href="https://www.kilometrikisa.fi/" target="_blank" rel="noopener">Kilometrikisa!</a></p>
            <p><a href="<%= url %>" class="login-button" rel="noopener">Strava Login</a>
            <p><small>Wait what?! <a href="/faq" class="jumbo__link">How does this work? New 2019 update!</a></small></p>
            </div>
        </div>

    </div><!-- end of jumbo -->
</section>

<%- include footer %>
