<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(/img/bikes.jpeg);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">

            <div class="container">

                <h1 class="headline margin-bottom--md">Ep&auml;kaupallinen tiedote</h1>

                <div class="row">
                    <div class="col-xs-6 col-sm-offset-3">

                        <div class="container-box text-xs-center">

			    <iframe width="100%" height="200" src="https://www.youtube.com/embed/7J1cRkFw51Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 			    <p>
				<b>Moi!</b>
T&auml;m&auml; palvelu on alunperin koodattu rakkaudesta lajiin ja se on sinulle t&auml;ysin ilmainen. Joidenkin koodaustuntien lis&auml;si palvelusta on my&ouml;s jotain juoksevia kuluja, kuten domainmaksuja ja palvelinkuluja. T&auml;m&auml; on ihan ok. Mutta arvostaisin suuresti jos kiitokseksi k&auml;visit <b>subaamassa <a href="https://www.youtube.com/channel/UC2Prp3t7Ol-a041FXTyCzNQ?view_as=subscriber" target="_blank">YouTube-kanavalleni</a></b>. Kiitos!
		            </p>
			    <p>
				<i>- Kampiapina</i>
			    <p>
			   
                            <a href="/account" class="btn btn-primary">Continue</a>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div><!-- end of jumbo -->
</section>


<%- include footer %>
