<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(/img/bikes.jpeg);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">

            <div class="container">

                <h1 class="headline margin-bottom--md">Enable synchronization</h1>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="container-box text-xs-center">

                            <div class="alert alert-danger hidden js-isauthenticated" role="alert">
                                Your Kilometrikisa session is timed out! Please <a href="/">login again</a>.
                            </div>
			   
                            <p>
                                Automatic synchronization is <b class="js-autosync-status"><% if (autosync) { %>enabled<% } else { %>disabled<% } %></b>.
                            </p>

                            <div class="switch">
                                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" <% if (autosync) { %>checked<% } %>>
                                <label for="cmn-toggle-1"></label>
                            </div>
			   
                            <p>
                                E-bike synchronization is <b class="js-ebike-status"><% if (ebike) { %>enabled<% } else { %>disabled<% } %></b>.
                            </p>

                            <div class="switch">
                                <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox" <% if (ebike) { %>checked<% } %>>
                                <label for="cmn-toggle-2"></label>
                            </div>

                            <a class="manual-sync" href="/manualsync">
                                <img class="manual-sync__icon" src="/img/gear.svg" />
                                <span class="manual-sync__button" >
                                    Sync manually
                                </span>
                            </a>



                        </div>
                        <div class="container-box container-box--grey text-center">
                            <p>
                                Automatic synchronization will copy your activities from the last five days from Strava to Kilometrikisa. Synchronization will occur once per day. Please note that if you have entered kilometers manually at Kilometrikisa <b>they will be overwritten!</b>
                            </p>
                            <p>
                                If e-bike synchronization is enabled and e-bike rides is found, all rides on same day is marked as e-bike ride as Kilomterikisa doesn't support multiple inputs for single day.
                            </p>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div><!-- end of jumbo -->
</section>


<%- include footer %>
